@import "../../assets/scss/colors.scss";

.header {
  padding: 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  background-color: $header-footer-bg-color;
  &__title {
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-style: oblique;
    font-weight: lighter;
    color: $header-footer-color;
    transition: color 0.2s, font-size 0.2s;
    &:hover,
    &:focus {
      color: #000;
      font-size: 1.2rem;
    }
  }
}
