<section class="playlists-page">
  <ng-container *ngIf="playlists | async as playlistsData">
    <app-playlists
      *ngIf="!error; else errorEl"
      [playlistsData]="playlistsData"
    ></app-playlists>
    <ng-template #errorEl>
      <dialog class="error">
        <span class="error__message">
          Ops! An error occurred when fetching the playlists data
        </span>
      </dialog>
    </ng-template>
  </ng-container>
  <button
    *ngIf="scrollToTopIsVisible"
    class="to-top-btn"
    (click)="toTopClickEventHandler()"
    [@toTopBtn]
  >
    <img
      src="../../../assets/imgs/arrow_top.png"
      alt="arrow top"
      class="to-top-btn__img"
    />
  </button>
</section>
