.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparentize(#333, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &__text {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-right: 2rem;
  }

  &__img {
    height: 5rem;
    width: 5rem;
    transform: scale(1.4);
    animation: loading-img infinite cubic-bezier(0.87, -0.27, 0.43, 1.25) 2.5s;
  }

  @keyframes loading-img {
    0% {
      transform: rotate(0) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(1.2);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
}
