@import "../../../assets/scss/utils.scss";

.playlist-item {
  @extend %main-btn;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  width: 23rem;

  &__img {
    $size: 5rem;
    width: $size;
    height: $size;
    align-self: center;
    border-radius: 10px;
  }

  &__content-wrapper {
    margin-left: 1rem;
  }

  &__name {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 0;
    display: block;
  }

  &__id {
    opacity: 0.5;
    display: block;
  }

  &__curator {
    font-style: italic;
    display: block;
    margin-top: 1rem;
  }

  @media only screen and (max-width: 450px) {
    width: 80vw;
    min-width: 250px;
    flex-direction: column;

    &__img {
      $size: 50%;
      width: $size;
      height: $size;
      margin-bottom: 2rem;
    }

    &__id {
      display: inline-block;
      width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
