@import "../../../assets/scss/utils.scss";

.playlist-item {
  @extend %main-btn;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  width: 23rem;

  &__img {
    width: 5rem;
    height: 5rem;
    align-self: center;
    border-radius: 10px;
  }

  &__content-wrapper {
    margin-left: 1rem;
  }

  &__name {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 0;
  }

  &__id {
    opacity: 0.5;
  }

  &__curator {
    font-style: italic;
  }
}
