html {
  font-size: 100%;

  @media only screen and (max-width: 650px) {
    font-size: 80%;
  }
  @media only screen and (max-width: 480px) {
    font-size: 70%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  min-width: 330px;
}

button {
  font-family: "Roboto", sans-serif;
}
