@import "../../../assets/scss/colors.scss";

.playlist-page {
  display: flex;
  padding: 2rem 1rem 5rem 1rem;
  justify-content: center;
}

.error {
  display: inline-block;
  border: 1px solid $error-color;
  background-color: $error-bg-color;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;

  &__message {
    color: $error-color;
  }
}
