<div *ngIf="playlist | async as playlistData; else loadingEl">
  <app-playlist
    *ngIf="!error; else errorEl"
    [playlistData]="playlistData"
  ></app-playlist>
  <ng-template #errorEl>
    <p>An error occurred when fetching the playlist</p>
  </ng-template>
</div>
<ng-template #loadingEl>
  <div class="loading">
    <span class="loading__text">Loading</span>
    <img
      src="../../../assets/imgs/music-icon.png"
      alt="music-note"
      class="loading__img"
    />
  </div>
</ng-template>
